.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    max-width: 600px; /* Dodano ograniczenie szerokości */
    padding: 8px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button {
    margin: 5px;
    padding: 10px 20px;
}
